In [2]:
import ibm_db

In [3]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_hostname = "815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_protocol = "TCPIP"
dsn_port = "30367"
dsn_security = "SSL"
dsn_uid = "dvx78774"
dsn_pwd = "j0mTJKkaFz2VplvP"

In [4]:
dsn=(
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};".format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd, dsn_security)
    )

print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=30367;PROTOCOL=TCPIP;UID=dvx78774;PWD=j0mTJKkaFz2VplvP;SECURITY=SSL;

In [5]:
try:
    conn=ibm_db.connect(dsn,"","")
    print("Connected to Database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)
except:
    print("Error connecting to the database", ibm_db.conn_errormsg())

Connected to Database:  BLUDB as user:  dvx78774 on host:  815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [6]:
dropQuery="drop table INSTRUCTOR"
dropStmt=ibm_db.exec_immediate(conn,dropQuery)

In [7]:
MakeQuery="CREATE TABLE INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20),LNAME VARCHAR(20),CITY VARCHAR(20),CCODE CHAR(2));"
MakeStmt=ibm_db.exec_immediate(conn,MakeQuery)

In [8]:
InsertQuery="INSERT INTO INSTRUCTOR(ID,FNAME,LNAME,CITY,CCODE) VALUES (1,'APPLE','MAHMOOD','DHAKA','BD')"
InsertStmt=ibm_db.exec_immediate(conn,InsertQuery)

In [9]:
SelectQuery="SELECT * FROM INSTRUCTOR"
SelectStmt=ibm_db.exec_immediate(conn,SelectQuery)

ibm_db.fetch_both(SelectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'APPLE',
 1: 'APPLE',
 'LNAME': 'MAHMOOD',
 2: 'MAHMOOD',
 'CITY': 'DHAKA',
 3: 'DHAKA',
 'CCODE': 'BD',
 4: 'BD'}

In [10]:
InsertQuery="INSERT INTO INSTRUCTOR(ID,FNAME,LNAME,CITY,CCODE) VALUES (2,'SHAKIL','MAHMUD','DHAKA','BD')"
InsertStmt=ibm_db.exec_immediate(conn,InsertQuery)

In [11]:
SelectQuery2="SELECT * FROM INSTRUCTOR"
SelectStmt2=ibm_db.exec_immediate(conn,SelectQuery2)

ibm_db.fetch_both(SelectStmt2)

{'ID': 1,
 0: 1,
 'FNAME': 'APPLE',
 1: 'APPLE',
 'LNAME': 'MAHMOOD',
 2: 'MAHMOOD',
 'CITY': 'DHAKA',
 3: 'DHAKA',
 'CCODE': 'BD',
 4: 'BD'}

In [12]:
while ibm_db.fetch_row(SelectStmt2) != False:
    print (" ID:",  ibm_db.result(SelectStmt2, 0), " FNAME:",  ibm_db.result(SelectStmt2, "FNAME"))

 ID: 2  FNAME: SHAKIL

In [13]:
InsertQuery="INSERT INTO INSTRUCTOR(ID,FNAME,LNAME,CITY,CCODE) VALUES (3,'ROBIN','MAJUMDAR','DUBAI','UE')"
InsertStmt=ibm_db.exec_immediate(conn,InsertQuery)

In [14]:
SelectQuery3="SELECT * FROM INSTRUCTOR"
SelectStmt3=ibm_db.exec_immediate(conn,SelectQuery3)

ibm_db.fetch_both(SelectStmt3)

{'ID': 1,
 0: 1,
 'FNAME': 'APPLE',
 1: 'APPLE',
 'LNAME': 'MAHMOOD',
 2: 'MAHMOOD',
 'CITY': 'DHAKA',
 3: 'DHAKA',
 'CCODE': 'BD',
 4: 'BD'}

In [15]:
while ibm_db.fetch_row(SelectStmt3) != False:
    print (" ID:",  ibm_db.result(SelectStmt3, 0), " FNAME:",  ibm_db.result(SelectStmt3, "FNAME")," LNAME:",  ibm_db.result(SelectStmt3, "LNAME"))

 ID: 2  FNAME: SHAKIL  LNAME: MAHMUD
 ID: 3  FNAME: ROBIN  LNAME: MAJUMDAR

# Import from panadas

In [16]:
import pandas as pd
import ibm_db_dbi

In [17]:
pconn=ibm_db_dbi.Connection(conn)

In [18]:
SelectQuery4="select * from INSTRUCTOR"
pdf=pd.read_sql(SelectQuery4,pconn)

pdf['LNAME']

0     MAHMOOD
1      MAHMUD
2    MAJUMDAR
Name: LNAME, dtype: object

In [19]:
pdf

   ID   FNAME     LNAME   CITY CCODE
0   1   APPLE   MAHMOOD  DHAKA    BD
1   2  SHAKIL    MAHMUD  DHAKA    BD
2   3   ROBIN  MAJUMDAR  DUBAI    UE

In [20]:
ibm_db.close(conn)

True